
@{
     ViewBag.Title = "Sport";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="breadcrumbs" class="breadcrumbs" style="margin-top: 69px">
     <div class="container text-register">

          <div class="d-flex justify-content-between align-items-center">
               <h2 class="page-title">Sport</h2>
               <ol>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Sport</li>
               </ol>
          </div>

     </div>
</section>

<section id="about" class="about text-register" style="margin-top: -60px">
     <div class="container" style="margin-top: 40px" data-aos="fade-up">

          <div class="row">
               <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="~/assets/img/Sport/sport-bg.jpg" class="img-fluid" style="margin-top: 100px; margin-left: 40px; box-shadow: 15px 15px 10px #BBF; border-radius: 25px; border: 8px solid #ffc93c; " alt="">
               </div>
               <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                    <h3>About Sport</h3>
                    <p class="fst-italic">
                         Sport pertains to any form of physical activity or game, often competitive and/or organized, that aims to use, maintain,
                         or improve physical ability and skills while providing enjoyment to participants and, in some cases, entertainment to spectators.
                    </p>
                    <ul>
                         <li><i class="ri-check-double-line"></i> Improving cardiovascular health: Regular exercise can improve heart health by reducing the risk of heart disease and stroke, improving blood pressure, and lowering cholesterol levels.</li>
                         <li><i class="ri-check-double-line"></i> Reducing the risk of chronic diseases: Regular physical activity can help reduce the risk of developing chronic diseases such as diabetes, obesity, and certain types of cancer.</li>
                         <li><i class="ri-check-double-line"></i> Enhancing mental health: Exercise is a natural mood booster and can help reduce stress, anxiety, and depression.</li>
                         <li><i class="ri-check-double-line"></i> Improving sleep: Regular exercise can improve the quality of sleep, helping you feel more rested and energized.</li>
                         <li><i class="ri-check-double-line"></i> Boosting overall energy levels: Engaging in regular physical activity can increase overall energy levels, making you feel more alert and focused throughout the day.</li>
                    </ul>
                    <p>
                         In conclusion, engaging in sports and physical activity is an important component of a healthy lifestyle. Regular exercise and sports can provide numerous physical and mental health benefits, such as improving cardiovascular health,
                         reducing the risk of chronic diseases, enhancing mental health, strengthening bones and muscles, improving sleep, and boosting overall energy levels.
                    </p>
               </div>
          </div>

     </div>
</section><!-- End About Section -->
<section id="activities">
    <div class="container text-register" data-aos="fade-up">
        <h2 style="text-align: center">Popular Activities</h2>
        <hr />
        <div class="products">
            <div class="product">
                <img src="~/assets/img/Sport/activity-1.jpg" alt="Product Image">
                <h2>Running</h2>
                <p>Running or jogging is a great cardiovascular exercise that can be done almost anywhere and at any time.</p>
            </div>

            <div class="product">
                <img src="~/assets/img/Sport/activity-2.jpg" alt="Product Image">
                <h2>Yoga</h2>
                <p>
                    Benefits of practicing yoga include improved flexibility, strength, balance,
                    and posture, as well as reduced stress and anxiety. Yoga has also been shown to improve heart health, promote better sleep, and reduce chronic pain.
                </p>
            </div>

            <div class="product">
                <img src="~/assets/img/Sport/activity-3.jpg" alt="Product Image">
                <h2>Cycling</h2>
                <p> Cycling is another great way to get exercise and enjoy the outdoors. It can be done solo or with a group.</p>
            </div>

            <div class="product">
                <img src="~/assets/img/Sport/activity-4.jpg" alt="Product Image">
                <h2>Swimming</h2>
                <p>Swimming is a low-impact exercise that is great for people of all ages. It is a full-body workout that can help to build endurance and strength.</p>
            </div>

            <!-- Add more product divs as needed -->
        </div>
    </div>

</section>
