
@{
     ViewBag.Title = "Statistic";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="breadcrumbs" class="breadcrumbs" style="margin-top: 69px">
     <div class="container text-register">
          <div class="d-flex justify-content-between align-items-center">
               <h2 class="page-title">Statistic</h2>
               <ol>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Statistic</li>
               </ol>
          </div>

     </div>
</section>

<section>
     <section id="about" class="about" style="margin-top: -60px">
          <div class="container text-register" data-aos="fade-up>">
               <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                         <img src="~/assets/img/Statistic/Statistic1.png" class="img-fluid" style=" margin-left: 40px; box-shadow: 15px 15px 10px #BBF; border-radius: 25px; border: 8px solid #ffc93c; " alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                         <h3>Healthy Eating</h3>
                         <p class="fst-italic">
                              According to a survey, <strong>85%</strong> of people in the US believe that eating healthy is important to them.
                         </p>
                         <h2 style="margin-top: 90px">The most popular healthy foods are:</h2>

                         <ul>
                              <li><i class="ri-check-double-line"></i> Vegetables (90%) </li>
                              <li><i class="ri-check-double-line"></i> Fruits (80%) </li>
                              <li><i class="ri-check-double-line"></i> Whole grains (60%) </li>
                              <li><i class="ri-check-double-line"></i> Lean protein (50%) </li>
                         </ul>
                    </div>
               </div>
          </div>
     </section>

     <hr />

     <section id="factivity" class="about">
          <div class="container text-register" data-aos="fade-up>">
               <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                         <img src="~/assets/img/Statistic/Statistic2.png" class="img-fluid" style="margin-left: -40px; box-shadow: 15px 15px 10px #BBF; border-radius: 25px; border: 8px solid #ffc93c; " alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                         <h3>Physical Activity</h3>
                         <p class="fst-italic">
                              Research shows that only <strong>23%</strong> of adults in the US get the recommended amount of physical activity each week.
                         </p>
                         <h2 style="margin-top: 90px">The most popular physical activities are:</h2>

                         <ul>
                              <li><i class="ri-check-double-line"></i> Walking (30 minutes or more, 5 days a week)</li>
                              <li><i class="ri-check-double-line"></i> Aerobic exercise (30 minutes or more, 3-4 days a week) </li>
                              <li><i class="ri-check-double-line"></i> Strength training (2-3 days a week) </li>
                              <li><i class="ri-check-double-line"></i> Stretching or flexibility exercises (2-3 days a week) </li>
                         </ul>
                    </div>
               </div>
          </div>
     </section>

     <hr />

     <section id="habits" class="about">
          <div class="container text-register" data-aos="fade-up>">
               <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                         <img src="~/assets/img/Statistic/Statistic3.jpg" class="img-fluid" style=" margin-left: 80px; box-shadow: 15px 15px 10px #BBF; border-radius: 25px; border: 8px solid #ffc93c; width: 400px; height: 400px" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                         <h3>Healthy Habits</h3>
                         <p class="fst-italic">
                              Good habits can help you maintain a healthy lifestyle.
                         </p>
                         <h2 style="margin-top: 90px">Here are some statistics on healthy habits:</h2>

                         <ul>
                              <li><i class="ri-check-double-line"></i> Getting enough sleep (7-8 hours per night) can reduce your risk of obesity, diabetes, and heart disease.</li>
                              <li><i class="ri-check-double-line"></i> Meditation can lower stress levels and improve mental health. Around 18 million Americans practice meditation regularly.</li>
                              <li><i class="ri-check-double-line"></i> Drinking water is important for hydration and overall health. The recommended daily intake for adults is around 2 liters.</li>
                         </ul>
                    </div>
               </div>
          </div>
     </section>

     <hr />

     <section id="video" class="about">
          <div class="container" data-aos="fade-up>" style="text-align: center">
               <iframe width="660" height="415" src="https://www.youtube.com/embed/Cg_GW7yhq20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

               </iframe>
          </div>

     </section>

</section>

